<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yp2012g4.blindroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application
        android:name="com.yp2012g4.blindroid.DisplaySettingsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme" >
        <activity
            android:name="com.yp2012g4.blindroid.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yp2012g4.blindroid.SOSActivity"
            android:label="@string/title_activity_sos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yp2012g4.blindroid.QuickDialActivity"
            android:label="@string/title_activity_quick_dial"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yp2012g4.blindroid.DisplaySettingsActivity"
            android:label="@string/title_activity_display_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yp2012g4.blindroid.ThemeSettingsActivity"
            android:label="@string/title_activity_theme_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yp2012g4.blindroid.PhoneStatusActivity"
            android:label="@string/title_activity_phone_status"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yp2012g4.blindroid.SpeakingClockActivity"
            android:label="@string/ClockTitle"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yp2012g4.blindroid.ColorSettingsActivity"
            android:label="@string/title_activity_color_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yp2012g4.blindroid.VoiceNoteRecorderActivity"
            android:label="@string/title_activity_voice_note_recorder"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yp2012g4.blindroid.MainActivity" />
        </activity>
        <activity
            android:name="com.yp2012g4.blindroid.QuickSMSActivity"
            android:label="@string/title_activity_quick_sms"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yp2012g4.blindroid.AlarmActivity"
            android:label="@string/title_activity_alarm"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yp2012g4.blindroid.AlarmPopup"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.yp2012g4.blindroid.TalkingSmsList"
            android:label="@string/title_activity_talking_sms_list"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yp2012g4.blindroid.MainActivity" />
        </activity>
        <activity
            android:name="com.yp2012g4.blindroid.WhereAmIActivity"
            android:label="@string/title_activity_where_am_i"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.yp2012g4.blindroid.AlarmService" >
        </service>
        <service android:name="com.yp2012g4.blindroid.AlarmService" >
        </service>

        <activity
            android:name="com.yp2012g4.blindroid.SetClockActivity"
            android:label="@string/title_activity_set_clock"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yp2012g4.blindroid.DialScreen"
            android:label="@string/title_dial_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yp2012g4.blindroid.ContactsListActivity"
            android:label="@string/title_activity_contacts_list"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yp2012g4.blindroid.MainActivity" />
        </activity>

        <receiver android:name="com.yp2012g4.blindroid.tools.IncomingCallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.yp2012g4.blindroid.telephony.IncomingCallActivity"
            android:label="@string/title_activity_incoming_call" >
        </activity>
    </application>

</manifest>