<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yp2012g4.vision"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.yp2012g4.vision.apps.settings.VisionApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme" >
        <activity
            android:name="com.yp2012g4.vision.apps.main.MainActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.sos.SOSActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_sos"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.settings.DisplaySettingsActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_display_settings"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.settings.ThemeSettingsActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_theme_settings"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.phoneStatus.PhoneStatusActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_phone_status"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.clock.SpeakingClockActivity"
            android:configChanges="locale"
            android:label="@string/ClockTitle"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.settings.ColorSettingsActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_color_settings"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.smsSender.QuickSMSActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_quick_sms"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.alarm.AlarmActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_alarm"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.alarm.AlarmPopup"
            android:configChanges="locale"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.smsReader.DeleteConfirmation"
            android:configChanges="locale"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.whereAmI.WhereAmIActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_where_am_i"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <service android:name="com.yp2012g4.vision.apps.alarm.AlarmService" >
        </service>
        <service android:name="com.yp2012g4.vision.apps.telephony.CallScreenService" >
        </service>
        <!-- <service android:name="com.yp2012g4.vision.tools.TTSService" >
        </service> -->

        <activity
            android:name="com.yp2012g4.vision.apps.alarm.SetClockActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_set_clock"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.contacts.DialScreen"
            android:configChanges="locale"
            android:label="@string/title_dial_screen"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <receiver android:name="com.yp2012g4.vision.tools.IncomingCallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.yp2012g4.vision.tools.OutgoingCallReceiver"
            android:exported="true" >
            <intent-filter>
                <action
                    android:name="android.intent.action.NEW_OUTGOING_CALL"
                    android:priority="-1000" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.yp2012g4.vision.apps.telephony.IncomingCallActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_incoming_call"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.smsReader.ReadSmsActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_read_sms"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yp2012g4.vision.apps.main.MainActivity" />
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.contacts.ContactsMenuActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_contacts_menu"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.contacts.ContactsActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_contacts"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.ActivityVoiceInput"
            android:configChanges="locale"
            android:label="@string/title_activity_activity_voice_input"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.calculator.CalcActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_calc"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.smsReader.ReadSmsTest"
            android:label="@string/title_activity_read_sms_test" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yp2012g4.vision.apps.main.MainActivity" />
        </activity>
        <activity
            android:name="com.yp2012g4.vision.CallListActivity"
            android:label="@string/title_activity_call_list" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.smsSender.SendSMSActivity"
            android:configChanges="locale"
            android:label="@string/title_activity_send_sms"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.sos.SOSconfig"
            android:configChanges="locale"
            android:label="@string/title_activity_sosconfiguation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yp2012g4.vision.apps.contacts.AddContactActivity"
            android:label="@string/title_activity_add_contact"
            android:screenOrientation="portrait"
            android:configChanges="locale"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>