bin
gen
*.class
/Mainactivity/bin/AndroidManifest.xml
/Mainactivity/bin/Blindroid.apk
/Mainactivity/bin/resources.ap_
/Mainactivity/bin/
/Mainactivity/gen/com/yp2012g4/blindroid/BuildConfig.java
/Mainactivity/gen/com/yp2012g4/blindroid/R.java

