<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.marvin.circleime" android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0">
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-sdk android:minSdkVersion="8" 
      android:targetSdkVersion="17"/>
  <application android:label="@string/ime_name"
      android:allowBackup="true">
      
      
      
      <service android:name="SoftKeyboard" 
    android:imeFullscreenBackground="#CC000000"
    android:permission="android.permission.BIND_INPUT_METHOD">
      <intent-filter>
        <action android:name="android.view.InputMethod" />
      </intent-filter>
      <meta-data android:name="android.view.im" android:resource="@xml/method" />
    </service>
  
  </application>
</manifest>
